
.tNavBar{
  float:right;
  margin-top:20px;

}

.tNavBar li{
  float: left !important;
  border-right:2px solid #ccc;
}

.tNavBar li:last-child{
  border:none;
}

.tNavBar li a{
  padding:5px 15px !important;
  text-decoration: underline;
}

.tNavBar li a:hover{
  background: none;
}
.tHeaderLogo{float:left !important;}


.tSliderRight{
  margin:10px 20px 10px !important;
}

.tSliderLeft{}
.tSliderLeft p {margin-left:2px;margin-right: 2px;font-size:18px;}

.tSliderRight h3{

}

.tSliderRight ul{float: right ; width:55%; padding:0px !important;}
.tSliderRight ul li{list-style: none; margin:10px 0px;text-align: center;}
.tSliderRight ul .split{border-bottom: 2px solid #ccc;}
.tSliderRight ul li button{ width:100%;height:30px; }

.tInfo{padding:40px;}
.tInfo div {text-align: center;}

.tSign{margin:29px;}
.tSign button{padding:20px;margin:20px;}
.tSign div{text-align: center;}

