@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
	background-color: #B3FFE3;
	color: #000;
	font-family: "Roboto", Arial, sans-serif;
}
a {
	color: green;
}
a:hover { color:black; }

.tNavBar{ float:right; margin-top:20px; }

.tNavBar li{
  float: left !important;
  border-right:2px solid #ccc;
}

.tNavBar li:last-child{
    border: 2px solid #46c340;
  color: #46c340;
  border-radius: 50px;
  font-weight: 400;
  display: inline-block;
}

.tNavBar li a{
  padding:5px 15px !important;
  text-decoration: underline;
}

.tNavBar li a:hover{
  background: none;
}
.tHeaderLogo{margin-left: 50px;float:left !important;}

.tSliderLeft {margin:10px 20px 10px !important;}
.tSliderRight{
  line-height: 50px;
  margin:10px 20px 10px !important;
}

.tSliderLeft p {margin-left:2px;margin-right: 2px;font-size:18px; }

.tSliderRight h3{}

.tSliderRight ul{float: right ; width:55%; padding:0px !important;}
.tSliderRight ul li{list-style: none; margin:10px 0px;text-align: center;}
.tSliderRight ul .split{border-bottom: 2px solid #ccc;}
.tSliderRight ul li button{ width:100%;height:30px; }

.tSlider {
  background-color: #FCCD74;
  min-height: 500px;
}
.tInfo{padding:40px;}
.tInfo div {text-align: center;}

.tSign{margin:29px;}
.tSign button{padding:20px;margin:20px;}
.tSign div{text-align: center;}

p {
  font-size: 18px;
}

.tSignUpNow { 
	border: 2px solid #46c340;
  color: #46c340;
  padding: 8px 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}


.tContainer-fluid { margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px; }

.tFooterMaster{
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    min-height: 80px;
    line-height: 80px;
    text-align: left;
    color: #666;
}
.tFooterLinks a {
	margin-left: 10px;
}
.copyright {
	text-align: right;
    float: right;
    width: 30%;
}
